<h1>Portfolio items</h1>

<% @portfolio_items.each do |porfolio_item| %>
	<p> <%= porfolio_item.title %> </p>
	<p> <%= porfolio_item.subtitle %> </p>
	<p> <%= porfolio_item.body %> </p>
	<p> <%= image_tag porfolio_item.main_image unless porfolio_item.main_image.nil? %> </p>
<% end %>