<h1>Pages#contact</h1>
<p><%= number_to_phone "55555555"%> </p>
<p><%= number_to_currency "150"%> </p>
<p><%= number_with_delimiter "25685511" %></p>

<div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15168.880847087838!2d-15.999146!3d18.1076192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd78b62e74e098f2c!2sBig%20Market!5e0!3m2!1sen!2s!4v1575862387064!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
